* {
	margin: 0px;
	padding: 0px;
}

$shield-logo-blue: #385072;

.fill {
	background-color: $shield-logo-blue;
}

.keyboard-background {
	background: url(../img/clip-group@3x.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}