$shield-logo-blue: #385072;
$shield-logo-gray: #afaeaf;
$font-stack: HelveticaNeue, sans-serif;
$text-dark-blue: #3f4b5c;


* {
	margin: 0px;
	padding: 0px;
}

body{
	font-family: $font-stack;
}

nav ul a:hover {
   background-color: $shield-logo-blue;
   color: $shield-logo-gray;
}

nav	ul a {
	margin-top: 10px;
	line-height: 30px;
}

nav {
	padding: 43px 0px 100px 0px;
}

.demo_btn {
	border: 1px solid white;
	border-radius: 5px;
	height: 30px;
}

.footer-bar {
	margin: 15px 0px; 
	li {
	display: inline;
	padding: 15px;
	}
}

.footer {
	img {
		width: 280px;
	}
	p {
		font-size: 13px;
		color: $text-dark-blue;
		margin: auto;
	} 
	a {
		color: black;
		text-decoration: underline;
		font-size: 13px;
	}
	.col div {
		margin: -38px 0px 0px 66px;
	}
	.footer-middle {
		text-align: center;
		color: black;
	}
}


/*Modal Login*/
#input input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}





