<!DOCTYPE html>
<html>
<head>
	<title>Demo Request</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- jQuery below this line -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<!-- specific css file -->
	<link rel="stylesheet" href="{% static 'public/css/demo_request.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="keyboard-background">
		<div class="fill">
			<div class="header container">

				<img src="{% static "public/img/shieldnavlogo.png" %}" alt="logo"/>
				<!-- Modal Trigger -->
				<a class="modal-trigger" href="#login">Login</a>

				<!-- Modal Structure -->
				<div id="login" class="modal">
					<div class="modal-content">
						<form>
							<label>Please Enter The Password</label>
							<input type="password" name="password">
						</form>
					</div>
					<div class="modal-footer">
						<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
					</div>
				</div>

				<a href="/demo_request">REQUEST A DEMO</a>
			</div>
		</div>
	</div>
</body>
</html>