<!DOCTYPE html>
<html>
<head>
	<title>Demo Request</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- jQuery below this line -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<!-- My Javascript file -->
	<script src="{% static 'public/javascript/home.js' %}"></script>
	<!-- specific css file -->
	<link rel="stylesheet" href="{% static 'public/css/demo_request.css' %}"media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'public/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="keyboard-background">
		<div class="fill">
			<nav class="transparent z-depth-0 demo">
				<div class="container nav-wrapper">
					<a href="/"><img class="brand-logo" src="{% static "public/img/shieldnavlogo.png" %}" alt="logo"/></a>
					<ul class="right hide-on-med-and-down">
						<!-- Modal Trigger -->
						<li><a class="modal-trigger" href="#login">Login</a></li>
						<li><a class="demo_btn" href="/demo_request">REQUEST A DEMO</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- Demo Request Form -->
	<div class="container">
		<div class="row">
			<div class="col s7 form">
				<h1>Request a demo</h1>
				<form role="form" action="http://formspree.io/noah@shieldbanking.com.com" method="post">
					{% csrf_token %}
					<div class="form-actions">
						<label>Name</label>
						<input type="textarea" name="name">
						<label>Company</label>
						<input type="textarea" name="company">
						<label>Email</label>
						<input type="textarea" name="email">
						<label>Phone</label>
						<input type="textarea" name="phone">
						<label>Interest in Platform</label>
						<textarea name="interest"></textarea>
						<input id="submit" type="submit">
					</div>
				</form>
			</div>
			<div class="col s5">
				<h5>SHIELD COMPLIANCE</h5>
				<div>
					<p>Email:</p>
					<a href="mailto:hello@shieldbanking.com"><p>noah@shieldbanking.com</p></a>
				</div>
				<div>
					<p>Phone:</p>
					<p>312 731 4915</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Trigger -->
		<ul class="center footer-bar fill" id="demo-bar">
			<li><a class="modal-trigger center" href="#login">LOGIN</a></li>
			<li><a href="/demo_request">CONTACT</a></li>
		</ul>
	</div>
	<div class="footer container">
		<div class="row">
			<div class="col s4">
				<img src="{% static "public/img/shield-logo@3x.png" %}" alt="shield logo"">
				<div>
					<p>Email: <a class="email" href="mailto:noah@shieldbanking.com">noah@shieldbanking.com</a></p>
					<p>Phone: 312 731 4915</p>
				</div>
			</div>
			<div class="col s4">
				<p>Shield Compliance creates safe, compliant retail environments so banks and high-risk merchants can thrive securely.</p>
			</div>
			<div class="col s4 right">
				<a href="https://www.linkedin.com/company/11214026/"><img class="right" src="{% static "public/img/fblogo-path-linkedinlogo@2x.png" %}" alt="facebook logo, linkedin logo""></a>
				<ul class="right">
					<li><a href="{% static "private/documents/PrivacyPolicy_ShieldCompliance.pdf" %}">Privacy Policy</a></li>
					<li><a href="{% static "private/documents/TermsandConditions_ShieldCompliance.pdf" %}">Terms of Use</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-middle">
			<p>© 2017 Shield Compliance. All Rights Reserved</p>
			<p>Designed by <a href="https://www.halleemay.com/"> Hallee May, LLC</a></p>
		</div>
	</div>
</body>
</html>

<!-- Modal Structure -->
		<div id="login" class="modal">
			<div class="modal-content">
				<!-- login form -->
				<form action="/login" method="post" id="login-form">
					{% csrf_token %}
					<label class=".browser-default">Please Enter The Password</label>
					<input type="hidden" name="here" value="/" id="here">
					<input id="input" type="password" name="password">
					<div id="login_errors">
					</div>
					<div class="modal-footer">
						<input type="submit" value="LOGIN" class="modal-action btn-flat">
					</div>
				</form>
			</div>
			
		</div>