<!DOCTYPE html>
<html>
<head>
	<title>Demo Request</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- jQuery below this line -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<!-- My Javascript file -->
	<script src="{% static 'public/javascript/home.js' %}"></script>
	<!-- specific css file -->
	<link rel="stylesheet" href="{% static 'public/css/demo_request.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div class="keyboard-background">
		<div class="fill">
			<div class="header container">

				<img src="{% static "public/img/shieldnavlogo.png" %}" alt="logo"/>
				<!-- Modal Trigger -->
				<a class="modal-trigger" href="#login">Login</a>

				<!-- Modal Structure -->
				<div id="login" class="modal">
					<div class="modal-content">
						<form>
							<label>Please Enter The Password</label>
							<input type="password" name="password">
						</form>
					</div>
					<div class="modal-footer">
						<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Login</a>
					</div>
				</div>

				<a href="/demo_request">REQUEST A DEMO</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s7 form">
				<h1>Request a Demo</h1>
				<form>
					<label>Name</label>
					<input type="text" name="name">
					<label>Company</label>
					<input type="text" name="name">
					<label>Email</label>
					<input type="text" name="name">
					<label>Phone</label>
					<input type="text" name="name">
					<label>Interest in Platform</label>
					<textarea></textarea>
					<input type="submit" name="Submit">
				</form>
			</div>
			<div class="col s5">
				<h5>SHIELD COMPLIANCE</h5>
				<div>
					<p>Address:</p>
					<p>123 Avenue Road</p>
					<p>Town, State</p>
					<p>Zip Code</p>
				</div>
				<div>
					<p>Email:</p>
					<p>hello@shieldbanking.com</p>
				</div>
				<div>
					<p>Phone:</p>
					<p>1 800 1234</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fill footer_line">
		<!-- Modal Trigger -->
		<ul class="center">
			<a class="modal-trigger" href="#login">LOGIN</a>
			<a href="#!">CONTACT</a>
		</ul>
	</div>
	<div class="footer container">
		<div class="row">
			<div class="col s4">
				<img src="{% static "public/img/shield-logo@3x.png" %}" alt="shield logo"">
				<p>Email: info@shieldbanking.com</p>
				<p>Phone: 123 456 7890</p>
			</div>
			<div class="col s4">
				<p>Shield Compliance creates safe, compliant retail environments so banks and high-risk merchants can thrive securely.</p>
				<p>© 2017 Shield Compliance. All Rights Reserved</p>
				<p>Designed by Hallee May, LLC</p>
			</div>
			<div class="col s4">
				<img src="{% static "public/img/fblogo-path-linkedinlogo@2x.png" %}" alt="facebook logo, linkedin logo"">
				<a href="#!">Privacy Policy</a>
				<a href="#!">Terms of Use</a>
			</div>
		</div>
	</div>
</body>
</html>