$font-light: HelveticaNeue-Thin, HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, sans-serif;
$shield-logo-blue: #385072;

.background-cover {
	background-image: url("../img/about-header@2x.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	h1, p {
		text-align: right;
		padding-right: 30px;
	}
	.container p {
		width: 100%;
		color: black;
	}
	.s6 h1 {
		margin: 5rem 0 20px 0;
	}
}

.lightbulb {
	margin: 125px 0;
	img {
		width: 150px;
		margin-top: 10%;
	}
	p {
		color: black;
		width: 69%;
	}
}

.start {
	color: white;
	padding: 100px;
	h3, p, h1 {
		text-align: right;
		color: white;
	}
	h1 {
		font-size: 83px;
		font-weight: bold;
		margin: 5px;
	}
	p {
		font-size: 15px;
		padding-left: 30px;
	}
	h4 {
		font-family: $font-light;
		font-size: 19px;
		text-transform: uppercase;
	}
	sup {
		font-family: $font-light;
	}
	.start_story {
		padding-right: 60px;
	}
}

.numbers {
	margin-top: 40px;
	h4 {
		padding: 22px 0;
	}
}

.col.s3 {
	h4 {
		font-size: 25px;
		margin-bottom: 5px;
	}
	h5 {
		color: $shield-logo-blue;
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 0px;
	}
	p {
		color: black;
		font-size: 14px;
	}
}

.img {
	background-color: gray;
	width: 150px;
	height: 257px;
}

.team {
	padding: 30px 0;
	.row {
		padding: 50px 0 0 0;
	}
}





