.background-cover {
	background-image: url("../img/features-header@3x.png");
	width: 100%;
	height: 300px;
	background-size: cover;
}

.row-height {
	height: 100%;
}

.arrows {
	background-image: url("../img/arrows@2x.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

h6 {
	text-transform: uppercase;
}