/*CSS Resets*/
* {
	margin: 0px;
	padding: 0px;
}

$shield-logo-blue: #385072;
$text-dark-blue: #3f4b5c;
$shield-logo-gray: #afaeaf;

img.section_1 {
	width: 100%;
	margin-top: -315px;
}

.section_4 img {
	width: 75%;
}