<!DOCTYPE html>
<html>
<head>
	<title>Features</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- jQuery below this line -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<!-- My Javascript file -->
	<!-- <script src="{% static 'private/javascript/features.js' %}"></script> -->
	<!-- my css files -->
	<link rel="stylesheet" href="{% static 'private/css/features.css' %}"media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'private/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<nav class="white z-depth-0">
		<div class="nav-wrapper container">
		  <a href="/home_2"><img class="brand-logo" src="{% static "private/img/shieldnavlogo.png" %}" alt="logo"/></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a class="active" href="/features">Features</a></li>
		    <li><a href="/expertise">Expertise</a></li>
		    <li><a href="/partner">Partner</a></li>
		    <li><a href="/about">About</a></li>
		    <li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	</nav>
	<div class="background-cover">
		<div class="row row-height">
			<div class="col s6 offset-s6 opacity">
				<h1 class="contain">Our Platform</h1>
				<p>While other compliance systems only grant a handful of non-proprietary features, Shield’s platform is the only proactive compliance network that eliminates nearly every source of risk in CIB banking.</p>
			</div>
		</div>
	</div>
	<div class="section_2 section container">
		<h3 class="center">From small details to large initiatives</h3>
		<img class="absolute" src="{% static "private/img/arrows.png" %}" alt="arrows"/>
		<div class="row row-height arrows">
			<div class="col s3 first">
				<h3>Process</h3>
				<ul>
					<li>Single unified system</li>
					<li>Transaction-tagged data</li>
					<li>Inventory tracking</li>
				</ul>	
			</div>
			<div class="col s3 second">
				<h3>Monitor</h3>
				<ul>
					<li>Real-time monitoring</li>
					<li>Real-time client connection</li>
					<li>Enhanced due diligence</li>
				</ul>	
			</div>
			<div class="col s3 third">
				<h3>Control</h3>
				<ul>
					<li>Automatic CTR generation</li>
					<li>SAR glagging</li>
					<li>Automatic case filing</li>
				</ul>	
			</div>
			<div class="col s3 fourth">
				<h3>Scale</h3>
				<ul>
					<li>ACH/cashless payment</li>
					<li>Cloud-based solutions</li>
					<li>Regulatory updates</li>
				</ul>	
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="process">
		<div class="col s5">
			<h3>Process</h3>
			<h6>One Click Compliance</h6>
			<p>Shield Compliance’s one-stop platform authenticates all purchases and transaction and tags them all for reference. We verify that the inventory of CIB’s matches with purchases made, cofirming that fraud isn’t a part of the equation.</p>
			<ul>
				<li>One system</li>
				<li>Tokenized data</li>
				<li>Blockchain integration</li>
				<li>Inventory tracking</li>
			</ul>
		</div>
		<div class="divider"></div>
		<div class="col s7">
			
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="monitor">
		<div class="col s7">
			
		</div>
		<div class="col s5 ar">
			<h3>Monitor</h3>
			<h6>Proactive Transparency</h6>
			<p class="right">Our platform constantly monitors all transactions, and if we notice an inconsistency or potential risk, we both act and notify you immediately. You recieve automated alerts of tax liabilities and inventory discrepancies so that you can proceed to work with dispensaries in only the safest manner.</p>
			<ul>
				<li>Real-time monitoring</li>
				<li>Real-time communication</li>
				<li>Enhanced due diligence</li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="control">
		<div class="col s5">
			<h3>Control</h3>
			<h6>Automatic case filing</h6>
			<p>Working with us means that you will be in complete control of your activities through our exhaustive regulatory framework. If we detect inconsistencies, our platform automatically generates CTR reports to demonstrate your compliance with AML standards. Our SAR flagging system will instantly notify you with a report of non-compliant activities.</p>
			<ul>
				<li>Automatic CTR generation</li>
				<li>SAR flagging</li>
				<li>Easy audit preparation</li>
				<li>Case file generation</li>
				<li>SAR flagging</li>
				<li>Automatic transaction reporting</li>
			</ul>
		</div>
		<div class="col s7">
			
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="scale">
		<div class="col s7">
			
		</div>
		<div class="col s5 ar">
			<h3>Scale</h3>
			<h6>Cloud based solutions</h6>
			<p class="right">Because Shield Compliance is a cloud-based platform, we can integrate across multiple accounts simultaneously with ease. Our simple scalability promotes the rapid expansion and growth of high risk cash intensive business banking. We constantly update our platform to stay ahead of upcoming changes to banking regulations. For further accuracy, we’ve partnered with an excellent POS system that helps us to carefully monitor and record all transactions from start to finish.</p>
			<ul>
				<li>ACH &amp; cashless payment</li>
				<li>Cloud technology</li>
				<li>Bank &amp; employee training</li>
				<li>Regulatory updates &amp; news</li>
				<li>POS partnership</li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="additional_features">
		<h3>Additional Features</h3>
		<div class="col s6">
			<img src="{% static "private/img/shieldpaylogo@3x.png" %}" alt="shield pay">
			<p>Shield Pay connects consumers to CIB locations via a secure ACH connection. ACH enables easy, repeated, cashless payments, adding convienance for both consumers and CIB locations. The Shield Pay application grants users a unique identifying pin number that allows them to pay at participating CIB locations</p>
		</div>
		<div class="col s6 placeholder">
			
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section audit">
		<div class="col s6">
			<div class="placeholder">
				
			</div>
		</div>
		<div class="col s6">
			<div class="col s8">
				<h3>One-Click Audit Preparation</h3>
				<p>Audit preparation can be difficult and time-consuming, but Shield Compliance’s system enables banks to automatically generate all necessary auditing summary materials with a single click. These files become ready to print and share immediately, removing the hassle of audit preparation.</p>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="row container section" id="coming_soon">
		<div class="col s4">
			<h6>Coming Soon</h6>
			<h3>Internetwork Anonymous Forum</h3>
		</div>
		<div class="col s4 placeholder">

		</div>
		<div class="col s4">
			<p>Shield will soon have a forum where you can ask anonymous questions that are quickly answered by our professionals as well as a former AML compliance officer. Previous questions will be publicly available for your reference. </p>
		</div>
	</div>
	</div>
		<ul class="center footer-bar fill" id="private-bar">
			<li><a href="/features">features</a></li>
			<li><a href="/expertise">expertise</a></li>
			<li><a href="/partner">partner</a></li>
			<li><a href="/about">about</a></li>
		</ul>
	</div>
	<div class="footer container">
		<div class="row">
			<div class="col s4">
				<img src="{% static "public/img/shield-logo@3x.png" %}" alt="shield logo"">
				<div>
					<p>Email: <a class="email" href="mailto:info@shieldbanking.com">info@shieldbanking.com</a></p>
					<p>Phone: 123 456 7890</p>
				</div>
			</div>
			<div class="col s4">
				<p>Shield Compliance creates safe, compliant retail environments so banks and high-risk merchants can thrive securely.</p>
			</div>
			<div class="col s4 right">
				<img class="right" src="{% static "public/img/fblogo-path-linkedinlogo@2x.png" %}" alt="facebook logo, linkedin logo"">
				<ul class="right">
					<li><a href="#!">Privacy Policy</a></li>
					<li><a href="#!">Terms of Use</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-middle">
			<p>© 2017 Shield Compliance. All Rights Reserved</p>
			<p>Designed by <a href="https://www.halleemay.com/"> Hallee May, LLC</a></p>
		</div>
	</div>



</body>
</html>