<!DOCTYPE html>
<html>
<head>
	<title>Partner</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1">      
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	<!-- jQuery below this line -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<!-- My Javascript file -->
	<!-- <script src="{% static 'private/javascript/partner.js' %}"></script> -->
	<!-- my css files -->
	<link rel="stylesheet" href="{% static 'private/css/partner.css' %}"media="screen" title="no title"  charset="utf-8">
	<link rel="stylesheet" href="{% static 'private/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<nav class="white z-depth-0">
		<div class="nav-wrapper container">
		  <a href="/home_2"><img class="brand-logo" src="{% static "private/img/shieldnavlogo.png" %}" alt="logo"/></a>
		  <ul class="right hide-on-med-and-down">
		    <li><a href="/features">Features</a></li>
		    <li><a href="/expertise">Expertise</a></li>
		    <li><a class="active" href="/partner">Partner</a></li>
		    <li><a href="/about">About</a></li>
		    <li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	</nav>
	<div class="background-cover">
		<div class="row row-height">
			<div class="col s6 offset-s6 opacity">
				<h1>Partner with Us</h1>
				<p>We consider every client to be more than just a customer. Our clients are partners in our movement towards creating a safe banking environment in this complex new market. Give your business the confidence it needs to take on the CIB market by partnering with us. </p>
			</div>
		</div>
	</div>
	<div class="container">
		<div>
			<h1 class="center">Shield is the point where banks, merchants and customers meet. We strive to make this place safe, secure and profitable</h1>
		</div>
		<div>
			<h3 class="center">Why partner?</h3>
			<div class="row center" id="partner">
				<div class="col s4">
					<img src="{% static "private/img/touchicon@2x.png" %}" alt="touch icon">
					<h5>More than a sidecar</h5>
					<p>Unlike other compliance software companies, we are unique in our proactive measures. First we flag, then we act.</p>
				</div>
				<div class="col s4">
					<img src="{% static "private/img/systemicon@2x.png" %}" alt="system icon">
					<h5>One united system</h5>
					<p>Shield is your first and final stop for all compliance concerns. No need to add in additional systems, we provide everything synced together</p>
				</div>
				<div class="col s4">
					<img src="{% static "private/img/lockicon@2x.png" %}" alt="lock icon">
					<h5>Secure your future</h5>
					<p>Planning today will make all the difference in the regulatory challenges of tomorrow. In this growing marketplace, scalability and adaptability are critical.</p>
				</div>
			</div>
		</div>
		<div class="row partner">
			<div class="col s6">
				<img src="{% static "private/img/fiserv-logo@2x.png" %}" alt="fiserv logo">
				<img src="{% static "private/img/fis-logo@2x.png" %}" alt="fis logo">
				<img src="{% static "private/img/jh-logo@2x.png" %}" alt="jack henry logo">
				<img src="{% static "private/img/adilaslogo@2x.png" %}" alt="adilas logo">
			</div>
			<div class="col s6">
				<h3>How can you partner?</h3>
				<p>Take your stake in the emerging CIB market through a partnership with Shield. Installing our platform is easy as we integrate with the major existing systems: Fiserv, FIS and Jack Henry. On the opposite end, our POS partner Adilas will provide an on-site management system for CIB locations. Trust us to open your doors to new clients without the pressure of complex regulations. Contact us today to secure your stake in the future of CIBs.</p>
			</div>
		</div>
	</div>








	<div>
		<ul class="center footer-bar fill" id="private-bar">
			<li><a href="/features">features</a></li>
			<li><a href="/expertise">expertise</a></li>
			<li><a href="/partner">partner</a></li>
			<li><a href="/about">about</a></li>
		</ul>
	</div>
	<div class="footer container">
		<div class="row">
			<div class="col s4">
				<img src="{% static "public/img/shield-logo@3x.png" %}" alt="shield logo"">
				<div>
					<p>Email: info@shieldbanking.com</p>
					<p>Phone: 123 456 7890</p>
				</div>
			</div>
			<div class="col s4">
				<p>Shield Compliance creates safe, compliant retail environments so banks and high-risk merchants can thrive securely.</p>
			</div>
			<div class="col s4 right">
				<img class="right" src="{% static "public/img/fblogo-path-linkedinlogo@2x.png" %}" alt="facebook logo, linkedin logo"">
				<ul class="right">
					<li><a href="#!">Privacy Policy</a></li>
					<li><a href="#!">Terms of Use</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-middle">
			<p>© 2017 Shield Compliance. All Rights Reserved</p>
			<p>Designed by <a href="https://www.halleemay.com/"> Hallee May, LLC</a></p>
		</div>
	</div>
</body>
</html>